.up {
	#portalPageFooter {
		padding: 25px 0;
		font-size: 11px;
		
		a {
			&:link {
				color: #666;
			}
			&:visited {
				color: #666;
			}
			&:hover {
				color: #666;
			}
			&:active {
				color: #666;
			}
		}
		#copyright {
			text-align: center;
		}
	}
}